[user]
	name = Mochichi2003
	email = moyurusuto@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
